# Entornos virtuales
env/
venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales
*.tmp
.DS_Store

# Archivos de Streamlit
.streamlit/secrets.toml

# Archivos generados
*.pdf
